<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<div class="container-fluid">
  <div class="left">
      <router-outlet></router-outlet>
  </div>

  <div class="right">
   <div class="logo">
     <img src="../assets/halllogo.PNG">
   </div>
   <div class="NavItems">
      <div class="mainbutton">ראשי</div>
      <div class="menuItems">
        <ul>
          <li><i class="fas fa-users fa-fw"></i> אורחים</li>
          <li><i class="fas fa-chair fa-fw"></i>סדר הושבה</li>
          <li><i class="fas fa-hamburger fa-fw"></i>בחירת מנות</li>
        </ul>
      </div>
   </div>
   <div class="BottomNav">
     <div class="line"></div>
     <div>HallUp 2019</div>
   </div>
  </div>
</div>


